@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  display: grid;
  grid-template-areas:
    "header main main"
    "nav main main"
    "footer aside aside";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 30% 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  font-size: calc(0.6rem + 0.7vw);
  font-family: "Roboto", sans-serif;
  line-height: calc(1.1rem + 0.5vw);
  color: #35383f;
  background-color: #ffffff;
}
header {
  grid-area: header;
  font-size: calc(0.7rem + 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.logo img {
  width: 100%;
  height: auto;
  max-width: 200px;
}
main {
  grid-area: main;
  position: relative;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: #f9f9fa;
}
button {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
#plus-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-width: 0;
  outline: none;
  height: 53px;
  width: 53px;
  border-radius: 50%;
  background-color: #ceaa68;
  color: #35383f;
  font-size: calc(1.5rem + 0.7vw);
  font-family: "Roboto Mono", monospace;
}
#plus-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#plus-button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #f9f9fa;
  background: #66789a;
}
nav a {
  text-decoration: none;
  color: #f9f9fa;
}
aside {
  grid-area: aside;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #f9f9fa;
  background: #66789a;
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px -8px 8px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: #f9f9fa;
  font-size: calc(0.6rem + 0.5vw);
}
footer a {
  text-decoration: none;
  color: #35383f;
}
header,
footer,
main,
nav,
aside {
  padding: 1rem;
}
/* Add padding to container elements */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 1rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s ease;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #66789a;
  padding-top: 5rem;
}
/* Modal Content/Box */
.modal-content {
  background-color: #f9f9fa;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}
/* Full-width input fields */
input[type="text"],
input[type="number"] {
  width: 80%;
  padding: 0.8rem;
  text-align: center;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  color: #35383f;
  background: #f1f1f1;
}
/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for all buttons */
#submit-button {
  background-color: #66789a;
  color: #f9f9fa;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 50%;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #35383f;
}
.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.checkbox {
  padding: 1rem;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-rows: 100px 100px 1fr 100px 70px;
    grid-template-columns: 1fr;
  }
  nav {
    flex-direction: row;
  }
  header,
  footer,
  main,
  nav,
  aside {
    padding: 0.5rem;
  }
}
